<!-- top navigation section -->
<div class="ui stackable secondary pointing top large menu" style="background-color: #ffffff">
    <div class="ui dropdown teal item" href="ControlBuy GB.html">
        <i class="dashboard icon"></i>
        Dashboard<i class="dropdown icon"></i>
        <div class="dropdown menu">
            <a class="item" href="ControlBuy GB.html"><i class="teal legal icon"></i>amoebaBuy</a>
            <a class="item" href="ControlSupplier GB.html"><i class="teal plane icon"></i>amoebaSupplier</a>
            <a class="item" href="ControlScorecard GB.html"><i class="teal empty star icon"></i>amoebaScorecard</a>
        </div>
    </div>
    <a class="active teal item" href="ControlAmoebaBuy GB.html">
        <i class="users icon"></i>
        User accounts</a>
    <div class="ui dropdown tel item" href="ControlCountries GB.html">
        <i class="database icon"></i>
        Tables<i class="dropdown icon"></i>
        <div class="dropdown menu">
            <a class="item" href="ControlCountries GB.html"><i class="teal world icon"></i>Countries</a>
            <a class="item" href="ControlStates GB.html"><i class="teal location arrow icon"></i>US States</a>
            <a class="item" href="ControlIncoterms GB.html"><i class="teal location arrow icon"></i>Incoterms</a>
            <a class="item" href="ControlModes GB.html"><i class="teal truck icon"></i>Modes</a>
        </div>
    </div>
    <div class="ui dropdown item" href="ControlSettings GB.html">
        <i class="settings icon"></i>
        Your settings<i class="dropdown icon"></i>
        <div class="dropdown menu">
            <a class="item" href="ControlYour Account GB.html"><i class="teal user icon"></i>Your account</a>
            <a class="item" href="ControlMaster GB.html"><i class="teal privacy icon"></i>Master accounts</a>
            <a class="item" href="ControlSubscriptions GB.html"><i class="teal shop icon"></i>Subscriptions</a>
        </div>
    </div>
    <div class="right menu">
        <a class="item" href="ControlLogin.html">
            <i class="sign out icon"></i>
            Logout</a>
    </div>
</div pointingmenuend>

<!-- summary statistics section -->
<div class="ui equal width stackable center aligned grid">
    <div class="one wide column"></div>

    <!-- Select application section -->
    <div class="eight wide column">
        <div class="ui top attached center aligned inverted grey segment" style="padding: 2px">
            <div class="label" style="color:#FFFFFF">
                <h3>Applications</h3>
            </div>
        </div segmentend>
        <div class="ui attached center aligned segment" style="height: 80px">
            <div class="value" style="color:#404040">
                <div class="ui steps">
                    <a href="ControlAmoebaBuy GB.html" class=" active step">
                        <i class="teal legal icon"></i>
                        <div class="content">
                            <div class="title">amoebaBUY</div>
                            <div class="description">amoebaBuy user accounts</div>
                        </div>
                    </a>
                    <a href="ControlAmoebaCarrier GB.html" class="step">
                        <i class="purple plane icon"></i>
                        <div class="content">
                            <div class="title">amoebaSUPPLIER</div>
                            <div class="description">amoebaSupplier user accounts</div>
                        </div>
                    </a>
                    <a href="ControlAmoebaScorecard GB.html" class="step">
                        <i class="purple empty star icon"></i>
                        <div class="content">
                            <div class="title">amoebaSCORECARD</div>
                            <div class="description">amoebaScorecard user accounts</div>
                        </div>
                    </a>
                </div stepsend>
            </div>
        </div segmentend>
    </div columnend>

    <!-- statistic 1 section -->
    <div class="two wide column">
        <div class="ui top attached center aligned inverted grey segment" style="padding: 2px">
            <div class="label" style="color:#FFFFFF">
                <h3>Total accounts</h3>
            </div labelend>
        </div segmentend>
        <div class="ui attached center aligned segment" style="padding-top: 4px; height: 80px">
            <div class="value" style="color:#404040">
                <h1>1400</h1>
                <label style="color:#009900">2% </label><h4 style="display: inline">From yesterday</h4>
            </div valueend>
        </div segmentend>
    </div columnend>

    <!-- statistic 2 section -->
    <div class="two wide column">
        <div class="ui top attached center aligned inverted grey segment" style="padding: 2px">
            <div class="label" style="color:#FFFFFF">
                <h3>Subscription owners</h3>
            </div labelend>
        </div segmentend>
        <div class="ui attached center aligned segment" style="padding-top: 4px; height: 80px">
            <div class="value" style="color:#404040">
                <h1>200</h1>
                <label style="color:#009900">1% </label><h4 style="display: inline">From yesterday</h4>
            </div valueend>
        </div segmentend>
    </div columnend>

    <!-- statistic 3 section -->
    <div class="two wide column">
        <div class="ui top attached center aligned inverted grey segment" style="padding: 2px">
            <div class="label" style="color:#FFFFFF">
                <h3>Subscription invitees</h3>
            </div labelend>
        </div segmentend>
        <div class="ui attached center aligned segment" style="padding-top: 4px; height: 80px">
            <div class="value" style="color:#404040">
                <h1>1200</h1>
                <label style="color:#ff0000">1% </label><h4 style="display: inline">From yesterday</h4>
            </div valueend>
        </div segmentend>
    </div columnend>

    <div class="one wide column"></div>
</div>

<?php echo $this->grid->render(); ?>

<div class="one wide column"></div>
<div class="ui hidden divider"></div>






