@CHARSET "utf-8";
// Go Spot Buy Login Page CSS Definitions //
// CSS3 styles sheet //


/* ################################################################################################ */
/*                          Main body and video definitions                                         */
/* ################################################################################################ */

body {
	margin: 0;
	background: #000; 
}

video#bgvid { 
	position: fixed;
	top: 0%;
	left: 0%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	overflow: hidden;
	z-index: -100;
	background: url(Images/ECT.jpg) no-repeat;
	background-size: cover; 
	transition: 1s opacity;
}

#loginblock{
	margin-top: 100px;
	float: right;
}
