<!-- top navigation section -->
<div class="ui stackable secondary pointing top large menu" style="background-color: #ffffff">
    <div class="ui dropdown teal item" href="ControlBuy GB.html">
        <i class="dashboard icon"></i>
        Dashboard<i class="dropdown icon"></i>
        <div class="dropdown menu">
            <a class="item" href="ControlBuy GB.html"><i class="teal legal icon"></i>amoebaBuy</a>
            <a class="item" href="ControlSupplier GB.html"><i class="teal plane icon"></i>amoebaSupplier</a>
            <a class="item" href="ControlScorecard GB.html"><i class="teal empty star icon"></i>amoebaScorecard</a>
        </div>
    </div>
    <a class="item" href="ControlAmoebaBuy GB.html">
        <i class="users icon"></i>
        User accounts</a>
    <div class="ui dropdown teal item" href="ControlCountries GB.html">
        <i class="database icon"></i>
        Tables<i class="dropdown icon"></i>
        <div class="dropdown menu">
            <a class="item" href="ControlCountries GB.html"><i class="teal world icon"></i>Countries</a>
            <a class="active teal item" href="ControlStates GB.html"><i class="teal location arrow icon"></i>US States</a>
            <a class="item" href="ControlIncoterms GB.html"><i class="teal location arrow icon"></i>Incoterms</a>
            <a class="item" href="ControlModes GB.html"><i class="teal truck icon"></i>Modes</a>
        </div>
    </div>
    <div class="ui dropdown item" href="ControlSettings GB.html">
        <i class="settings icon"></i>
        Your settings<i class="dropdown icon"></i>
        <div class="dropdown menu">
            <a class="item" href="ControlYour Account GB.html"><i class="teal user icon"></i>Your account</a>
            <a class="item" href="ControlMaster GB.html"><i class="teal privacy icon"></i>Master accounts</a>
            <a class="item" href="ControlSubscriptions GB.html"><i class="teal shop icon"></i>Subscriptions</a>
        </div>
    </div>
    <div class="right menu">
        <a class="item" href="ControlLogin.html">
            <i class="sign out icon"></i>
            Logout</a>
    </div>
</div pointingmenuend>

<!-- summary statistics section -->
<div class="ui equal width stackable center aligned grid">
    <div class="one wide column"></div>
    <div class="two wide column">
        <div class="ui top attached center aligned inverted grey segment" style="padding: 2px">
            <div class="label" style="color:#FFFFFF">
                <h3>Last update</h3>
            </div>
        </div segmentend>
        <div class="ui attached center aligned segment" style="padding-top: 4px">
            <div class="value" style="color:#404040">
                <h1>12-NOV-15</h1>
            </div>
        </div segmentend>
    </div columnend>

    <div class="twelve wide column">
        <div class="ui top attached center aligned inverted grey segment" style="padding: 2px">
            <div class="label" style="color:#FFFFFF">
                <h3>Instructions</h3>
            </div>
        </div segmentend>
        <div class="ui attached left aligned segment" style="padding-top: 4px">
            <div class="value" style="color:#404040">
                <p style="color: #999999">Instructions text to be completed</p>
            </div>
        </div segmentend>
    </div columnend>
    <div class="one wide column"></div>
</div equalwidthgridcontainerend>

<!-- Table section -->
<div class="ui equal width stackable center aligned grid">
    <div class="fourteen wide column">
        <table class="ui sortable celled small table" style="margin-top: 4px">
            <thead class="ui inverted teal table">
                <tr>
                    <th class="teal"></th>
                    <th></th>
                    <th>DE</th>
                    <th>DK</th>
                    <th>ES</th>
                    <th>FI</th>
                    <th>FR</th>
                    <th>GB</th>
                    <th>IT</th>
                    <th>NL</th>
                    <th>PT</th>
                    <th>SE</th>
                    <th>US</th>
                </tr tablerowend>
            </thead class="full-width" headerend>
            <tbody>
                <tr>
                    <td class="collapsing">
                        <a href="#"><i class="ui teal edit icon" data-content="Edit state"></i></a>
                    </td>
                    <td class="collapsing">
                        <a href="#"><i class="ui teal trash icon" data-content="Remove state"></i></a>
                    </td>
                    <td class="collapsing"></td>
                    <td class="collapsing"></td>
                    <td class="collapsing"></td>
                    <td class="collapsing"></td>
                    <td class="collapsing"></td>
                    <td class="collapsing">Not applicable</td>
                    <td class="collapsing"></td>
                    <td class="collapsing">Niet van toepassing</td>
                    <td class="collapsing"></td>
                    <td class="collapsing"></td>
                    <td class="collapsing">Not applicable</td>
                </tr>
                <tr>
                    <td class="collapsing">
                        <a href="#"><i class="ui teal edit icon" data-content="Edit state"></i></a>
                    </td>
                    <td class="collapsing">
                        <a href="#"><i class="ui teal trash icon" data-content="Remove state"></i></a>
                    </td>
                    <td class="collapsing"></td>
                    <td class="collapsing"></td>
                    <td class="collapsing"></td>
                    <td class="collapsing"></td>
                    <td class="collapsing"></td>
                    <td class="collapsing">Alabama</td>
                    <td class="collapsing"></td>
                    <td class="collapsing">Alabama</td>
                    <td class="collapsing"></td>
                    <td class="collapsing"></td>
                    <td class="collapsing">Alabama</td>
                </tr>
                <tr>
                    <td class="collapsing">
                        <a href="#"><i class="ui teal edit icon" data-content="Edit state"></i></a>
                    </td>
                    <td class="collapsing">
                        <a href="#"><i class="ui teal trash icon" data-content="Remove state"></i></a>
                    </td>
                    <td class="collapsing"></td>
                    <td class="collapsing"></td>
                    <td class="collapsing"></td>
                    <td class="collapsing"></td>
                    <td class="collapsing"></td>
                    <td class="collapsing">Alaska</td>
                    <td class="collapsing"></td>
                    <td class="collapsing">Alaska</td>
                    <td class="collapsing"></td>
                    <td class="collapsing"></td>
                    <td class="collapsing">Alaska</td>
                </tr>
                <tr>
                    <td class="collapsing">
                        <a href="#"><i class="ui teal edit icon" data-content="Edit state"></i></a>
                    </td>
                    <td class="collapsing">
                        <a href="#"><i class="ui teal trash icon" data-content="Remove state"></i></a>
                    </td>
                    <td class="collapsing"></td>
                    <td class="collapsing"></td>
                    <td class="collapsing"></td>
                    <td class="collapsing"></td>
                    <td class="collapsing"></td>
                    <td class="collapsing">Arizona</td>
                    <td class="collapsing"></td>
                    <td class="collapsing">Arizona</td>
                    <td class="collapsing"></td>
                    <td class="collapsing"></td>
                    <td class="collapsing">Arizona</td>
                </tr>
                <tr>
                    <td class="collapsing">
                        <a href="#"><i class="ui teal edit icon" data-content="Edit state"></i></a>
                    </td>
                    <td class="collapsing">
                        <a href="#"><i class="ui teal trash icon" data-content="Remove state"></i></a>
                    </td>
                    <td class="collapsing"></td>
                    <td class="collapsing"></td>
                    <td class="collapsing"></td>
                    <td class="collapsing"></td>
                    <td class="collapsing"></td>
                    <td class="collapsing">Arkansas</td>
                    <td class="collapsing"></td>
                    <td class="collapsing">Arkansas</td>
                    <td class="collapsing"></td>
                    <td class="collapsing"></td>
                    <td class="collapsing">Arkansas</td>
                </tr>
                </tfoot tablefooterend>
        </table tablebodyend>
        <tfoot class="full-width">
            <tr>
                <th colspan="16">
                    <div class="ui left floated mini purple labeled icon button" id="#">
                        <i class="add square icon"></i> Add a new US State
                    </div>
                    <div class="ui right floated pagination menu">
                        <a class="icon item">
                            <i class="left chevron icon"></i>
                        </a>
                        <a class="item">1</a>
                        <a class="item">2</a>
                        <a class="item">3</a>
                        <a class="item">4</a>
                        <a class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    </div paginationend>
                </th tableheaderend>
            </tr tablerowend>
        </tfoot tablefooterend>
        </table tablend>
    </div columnend>
</div equalwidthgridcontainerend>
<div class="one wide column"></div>
<div class="ui hidden divider"></div>
