<!-- top navigation section -->
<div class="ui stackable secondary pointing top large menu" style="background-color: #ffffff; margin-bottom: -25px">
    <div class="item" href="#">
        <img class="ui small image" src="/images/AmoebaLogo2.png">
    </div>

    <div class="right menu">
        <a class="item" href="GeneralLogin.html">
            <i class="sign out icon"></i>
            Logout</a>
    </div>
</div pointingmenuend>

<!-- Main picture section -->
<div class="ui equal width stackable grid">
    <div class="sixteen wide column"></div>
    <div>
        <ul>
            <?php
            // Render each the title of each post for the current page in a list-item
            foreach ($this->paginator as $item) {
                echo '<li>' . $item->id . '</li>';
            }
            ?>
        </ul>
        <?php echo $this->paginationControl($this->readall, 'Sliding', 'index/pagination_controls.phtml'); ?>
    </div>
</div columnend>
</div gridend>
