<section class="section-modello-one-slider">
    <div class="inner-banner-div clearfix" style="height:125px;">
        <h2>Page not found ...!!!</h2>
        <img src="<?php echo $this->baseUrl(); ?>/images/inner-top-bg.jpg" alt="" style="height:125px;width: 980px;">
    </div>
</section>

<div id="middle-container" style="height: 200px;">
    <?php if (isset($this->exception)): ?>
        <pre><?php  echo $this->exception->getMessage(); die; ?></pre>
        <pre><?php  echo $this->exception->getTraceAsString(); die; ?></pre>
    <?php endif; ?>
</div>

