<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0" />

        <title> amoebaLOGISTICS &copy; </title>

        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="css/Go styles.css">
        <link rel="stylesheet" type="text/css" href="/css/Styles Login Page.css">
        <link rel="stylesheet" type="text/css" href="/css/semantic.css">
        <link rel="icon" href="/images/favicon.ico">

        <script src="js/jquery214.js"></script>
        <script src="js/semantic.js"></script>
        <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
    </head>
    <body>
        <?php echo $this->layout()->content; ?>
    </body>
</html>