<?php

    $trTemplate = '<tr>{extraColumns}{tdTemplate}</tr>';
    $tdTemplate = '<td class="collapsing">{dataValue}</td>';
    
    foreach ($this->paginator as $key => $item) {

        if($key == 0) {
            echo $this->partial('header.phtml',
                [
                    'item' => $item,
                    'extraColumns' => $this->extraColumns,
                    'params' => $this->params
                ]
            );
        }

        $tdList = [];

        foreach ($item as $value) {
            $tdList[] = strtr($tdTemplate, [
                '{dataValue}' => $value
            ]);
        }

        echo strtr($trTemplate, [
            '{extraColumns}' => $this->partial('extra_columns.phtml',
                    ['extraColumns' => $this->extraColumns, 'item' => $item]
                ),
            '{tdTemplate}' => implode(PHP_EOL, $tdList)
        ]);

    }

?>