<?php

    $columns = [];
    $item = [];
    $td = '<td class="collapsing">{template}</td>';

    foreach ($this->item as $k => $v) {
        $item['{' . $k . '}'] = $v;
    }

    foreach ($this->extraColumns as $column) {

        $iClass = '<i class="ui {class} icon"></i>';
        $template = strtr($iClass, ['{class}' => $column['class']]);

        if (!empty($column['url'])) {
            $url = strtr($column['url'], $item);
            $template = strtr('<a href="{url}">{iClass}</a>', ['{url}' => $url, '{iClass}' => $template]);
        }

        $columns[] = strtr($td, ['{template}' => $template]);;
    }

    echo implode(PHP_EOL, $columns);

?>