<div class="ui equal width stackable center aligned grid">
    <div class="fourteen wide column">
        <table class="ui sortable celled small table" style="margin-top: 4px">
            <?php echo $this->render('body.phtml'); ?>
        </table>
        <?php echo $this->render('pagination.phtml'); ?>
    </div>
</div>
