<thead class="ui inverted  table">
<tr>
    <?php

        $template = '<th>{title}</th>';

        foreach ($this->extraColumns as $column) {
            echo strtr($template, ['{title}' => isset($column['title']) ? $column['title'] : '']);
        }

        foreach(array_keys($this->item) as $column) {
            echo strtr("<th><a href='{href}'>$column</a></th>", ['{href}' => $this->sort($column, $this->params)]);
        }

    ?>
</tr>
</thead>