<!-- top headerbar section -->
	<div class="ui equal width stackable grid">
		<div class="sixteen wide column" style="height: 150px">
		</div columnend>
	</div gridend>
	
	<!-- Forgot password step 1 body -->
	<div class="ui equal width stackable grid">
		<div class="six wide column">
		</div columnend>
		
		<div class="four wide column">
			<div class="ui tertiary segment">
				<h2 class="ui header">
					<img class="ui image" src="images/AmoebaLogo1.png">
						<div class="content" style="color: #31859c">
						FORGOT YOUR PASSWORD?
							<div class="sub header"><h5>No problem, request a new one.</h5>
							</div subheaderend>
						</div contentend>
				</h2 headerend>
			</div segmentend>
							
			<div class="ui attached tertiary segment">
				<div class="ui form">
					<div class="twelve wide required field">
						<label>Your login name</label>
							<div class="ui left icon small input">
								<input type="text" name="username" placeholder="Enter your email address" value="">
								<i class="at teal icon"></i>
							</div inputend>
					</div fieldend>
											
					<div class="ui horizontal hidden divider"></div>
												
					<div class="ui animated fade purple button" href="Monitor GB.html" id="accessbtn" style="width: 155px">
						<div class="visible content">Request
							<i class="unlock icon"></i>
						</div contentend>
						<div class="hidden content">
						New password
						</div contentend>
					</div buttonend>
												
					<div tabindex="0" class="ui animated fade grey button" href="#" style="width: 155px">
						<div class="visible content">Cancel
							<i class="sign out icon"></i>
						</div contentend>
						<div class="hidden content">
						Go back
						</div contentend>
					</div buttonend>
						
					<div class="ui horizontal hidden divider"></div>
					<div class="description">
						<h3 class="ui center aligned header">Upon clicking the "Request" button you will receive an email message containing your new password.</h3>
					</div descriptionend>
				</div formend>
		</div segmentend>
	
		<div class="six wide column">
		</div columnend>
	
	</div gridend>
		
