<video autoplay loop poster="images/ECT.jpg" id="bgvid" controls muted>
    <source src="Images/ECT.mp4" type="video/mp4">
</video videoend>

<!-- Login section -->
<div class="ui stackable grid container" id="loginblock">
    <div class="eight wide column left aligned centered grid">
        <div class="ui tertiary segment">
            <h2 class="ui header">
                <img class="ui image" src="/images/AmoebaLogo1.png">
                <div class="content" style="color: #31859c">
                    Log in to amoebaLOGISTICS
                    <div class="sub header"><h5>LOGISTICS SOFTWARE. EASY!</h5>
                    </div subheaderend>
                </div contentend>
            </h2 headerend>
        </div segmentend>

        <div class="ui attached tertiary segment">
            <div class="ui form">
                <div class="fields">
                    <div class="ten wide required field">
                        <label>Your login name</label>
                        <div class="ui left icon small input">
                            <input type="text" name="username" placeholder="Enter your email address" value="">
                            <i class="at teal icon"></i>
                        </div inputend>
                    </div fieldend>
                </div fieldsend>

                <div class="fields">
                    <div class="ten wide required field">
                        <label>Your password</label>
                        <div class="ui left icon small input">
                            <input type="text" name="password" placeholder="Enter your password" value="">
                            <i class="lock teal icon"></i>
                        </div inputend>
                    </div fieldend>
                </div fieldend>

                <div class="field">
                    <div class="ui checkbox">
                        <input tabindex="0" class="hidden" type="checkbox">
                        <label>Keep me logged in on this computer</label>
                    </div checkboxend>

                    <div class="ui horizontal hidden divider"></div>

                    <div class="ui animated fade purple button" href="GeneralAccess GB.html" id="accessbtn" style="width: 155px">
                        <div class="visible content">Access
                            <i class="sign in icon"></i>
                        </div contentend>
                        <div class="hidden content">
                            Welcome
                        </div contentend>
                    </div fieldend>

                    <div tabindex="0" class="ui animated fade grey button" href="#" style="width: 155px">
                        <div class="visible content">Cancel
                            <i class="sign out icon"></i>
                        </div contentend>
                        <div class="hidden content">
                            Goodbye
                        </div contentend>
                    </div buttonend>

                    <a href="/forgot-password">
                        <div tabindex="0" class="ui animated fade grey button" href="#" style="width: 155px">
                            <div class="visible content">
                                Forgot password
                                <i class="help circle icon"></i>
                            </div contentend>
                            <div class="hidden content">
                                Help me
                            </div contentend>
                        </div buttonend>
                    </a>
                </div formend>

                <div class="ui horizontal divider">
                    Or
                </div dividerend>

                <div class="ui horizontal divider"></div>
                <div class="ui stackable grid container">
                    <div class="eight wide column center aligned centered grid">
                        <button class="ui labeled icon purple button" href="#" style="width: 235px">
                            <i class="shop icon"></i>
                            New here? Create your account
                        </button buttonend>
                    </div gridend>
                </div gridend>
                <div class="ui horizontal divider"></div>
            </div segmentend>
        </div>
    </div>
</div>
</div>